@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

html {
  scroll-behavior: smooth !important; 
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}

.navbar {
  background-color: #B2BEB5 !important; 
  color: white !important;
} 

.navbar-brand {
  font-family: "Vujahday Script", cursive;
}

.navbar-toggler {
   border: 0 !important; 
}

.navbar-toggler:focus {
  border: 0 !important;
  box-shadow: none !important; 
} 

.nav-link, .list-inline-item {
  font-family: "Caveat", cursive;
  font-size: 1rem; 
}

.navbar .btn { 
  font-size: 0.75rem;
  font-style: italic;
}

.modal-content {
  background-color: #C2B280;
  opacity: 90%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px; 
}

.modal-content h6 {
  font-family: "Vujahday Script", cursive; 
}

.modal-content button {
  background-color: #808000 !important; 
}   

.navbar-collapse {
  display: none;
}

@media (min-width: 320px) { 
  .navbar-collapse.show { 
    display: flex;
    justify-content: flex-start;
  }
}

@media (min-width: 1024px) { 
  .navbar-collapse {
    position: relative; 
  }

  .navbar-collapse button {  
    position: absolute;
    right: 0;
    margin-top: 5px;
  }

  .navbar-nav {
    margin-left: 50px !important; 
  }

  .nav-item {
    padding: 0 10px !important;
  }

  .foot-title {
    margin-left: 50px !important;
  }  

  #footer .list-inline {
    margin-left: 120px !important;
  }

  #footer .list-inline-item a {
    padding: 0 15px !important;
  }
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #814141;  
  filter:contrast(80%);
}

#footer small {
  font-family: "Vujahday Script", cursive;
}

#footer .footer-block {
  margin: 20px 0;
}
 
#title-section {
  margin: -40px 0px -40px 0px; 
  max-height: 200px !important;
}

.title { 
  background-color: rgba(95, 133, 117, 0.6) ! important;
  height: 180px;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.title h1, h3 {
  font-family: "Caveat", cursive !important;
  font-style: italic !important;
  color: white !important;
  filter:brightness(120%) !important; 
} 

#banner-text {
  font-size: 1.65rem !important;
  margin-left: -1.25rem !important; 
  padding-top: 0.313rem !important; 
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 600px) { 
  .title {
    height: 10.25rem; 
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }

  .title h3, h1 {
    transform: translateY(-25px) !important;
    white-space: nowrap !important;
  }

  .title h3 {
    font-size: 1.6vw !important; 
    margin-top: 13px;
  }
}

.block:last-of-type {
  margin-bottom: 50px !important; 
}

#about, #store, #shop {
  height: 100vh !important;
  margin-bottom: 0px !important;
} 

#main {
  width: 100%; 
  padding:0;
}

.content-asset p {
  margin:0 auto;
}

section { 
  background-color: rgba(196, 164, 132, 0.8) !important; 
}

.block { 
 background-color: rgba(196, 164, 132, 0.3) !important;
 filter:contrast(60%);
}

#content {
  filter: brightness(95%) !important;
}

@media (max-width: 768px) {
  .block {
    display: flex !important; 
    flex-direction: column !important; 
    justify-content: center !important; 
    align-items: center !important; 
    padding: 3vh !important; 
    height: 100% !important; 
  }
  
  .block p {
    font-size: clamp(8px, 1.4vw, 20px) !important;
    text-align: center !important; 
    word-wrap: break-word !important; 
    margin: 0 !important; 
    line-height: 2.6 !important; 
    flex: 1 !important; 
    display: flex !important; 
    align-items: center !important; 
  }
  #shop {
    margin-bottom: 60px !important;
  }
}

.sc {
  color: #3b8595; 
}

.ny {
  color: #3d3c3a;
}

.atw {
  color: #c48660;
}

.breadcrumb {
  display:none;
}
  
.margin-top-10 {
  padding-top: 10px;
}

.margin-bot-10 {
  padding-bottom: 10px;
}

.parallax-one h2, 
.parallax-two h2, 
.parallax-three h2 {
  font-family: "Caveat Brush", cursive !important;
  font-style: italic;
  filter: brightness(120%) !important; 
  font-size: 1.35rem !important;  
  padding: 10px;
  color: white !important; 
  letter-spacing: 2px !important;
  margin: 0 auto !important;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6); 
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: fit-content !important;
  white-space: nowrap;
  overflow: hidden; 
}

#parallax-world-of-ugg h1 {
  font-family:'Oswald', sans-serif; 
  font-size:24px; 
  font-weight:400; 
  text-transform: uppercase; 
  color:black;
  padding:0; 
  margin:0;
}

#parallax-world-of-ugg h2 {
  font-family:'Oswald', sans-serif; 
  font-size:70px; 
  letter-spacing:10px; 
  text-align:center; 
  color:white; 
  font-weight:400; 
  text-transform:uppercase; 
  z-index:10; 
  opacity:.9;
}

#parallax-world-of-ugg h3 {
  font-family:'Oswald', sans-serif; 
  font-size:14px; 
  line-height:0; 
  font-weight:400; 
  letter-spacing:8px; 
  text-transform: uppercase; 
  color:black;
}

#parallax-world-of-ugg p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:12px; 
  line-height:24px;
}
.first-character {
  font-weight:400; 
  float: left; 
  font-size: 84px; 
  line-height: 64px; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px; 
}

#parallax-world-of-ugg .title {
  background: white; 
  padding: 75px; 
  margin: 0 auto; 
  text-align:center;
}

#parallax-world-of-ugg .title h1 {
  font-size:35px; 
  letter-spacing:8px;
}

#parallax-world-of-ugg .block {
  background: white; 
  padding: 60px; 
  width:820px; 
  margin:0 auto; 
  text-align:justify;

}

#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}

#parallax-world-of-ugg .section-overlay-mask {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: black; 
  opacity: 0.70;
}

#parallax-world-of-ugg .parallax-one {
  min-height: calc(100vh - 200px); 
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(./assets/images/stock-banner-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; 
  filter: brightness(80%); 
}

#parallax-world-of-ugg .parallax-one h2 {
  margin-top: -75px !important;
  display: block;
  width: 100%; 
}

#parallax-world-of-ugg .parallax-two {
  padding-top: 200px; 
  padding-bottom: 200px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(./assets/images/stock-banner-2.webp);
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

#parallax-world-of-ugg .parallax-three {
  padding-top: 200px; 
  padding-bottom: 200px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url(./assets/images/stock-banner-3.jpeg);
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

#parallax-world-of-ugg .line-break {
  border-bottom:1px solid black; 
  width: 150px; 
  margin:0 auto;
}

@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px; 
    width:620px;
  }
}

@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px; 
    width:420px; 
  }

  #parallax-world-of-ugg h2 {
    font-size:30px;
  }

  #parallax-world-of-ugg .block {
    padding: 30px; 
  }

  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {
    padding-top:100px; 
    padding-bottom:100px;
  }
}

@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {
    padding: 30px 15px; 
    width:290px;
  }
}

